
<!-- <div style="padding-top: 10px;width: 400px;height: 400px;">
    <p style="padding-left: 100px;font-weight: bold;">Right Component</p>
    <div style="height: 75px;">
        <input style="margin-left: 10px;height: 30px;" type="text" #name/>
        <button style="margin-left: 10px;" mat-flat-button (click)="passToLeftComponent(name)">To Left Component</button>
        <div style="margin-left: 10px;">{{uname}}</div>
    </div>
    <mat-divider style="margin: 10px 0px;"></mat-divider>
</div> -->

<div style="display: grid;justify-content: center;">
    <!-- <p style="font-weight: bold;">Left Component</p> -->
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title >Right Component</mat-card-title>
      </mat-card-header>
    <mat-card-content>
        <div style="height: 100px;width: 500px;">
            <mat-divider style="margin: 10px 0px;"></mat-divider>
            <input style="height: 30px;" type="text" #name1/>
            <button style="margin-left: 10px;border-radius: 5px;" mat-flat-button (click)="passToLeftComponent(name1)">To Left Component</button>
            <div style="font-weight: 590;">Data from left component : </div><div>{{uname}}</div>
        </div>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Multicast VS Unicast</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="height: 150px;width: 500px;">
            <mat-divider style="margin: 10px 0px;"></mat-divider>
            <button style="margin-left: 10px;border-radius: 5px;" mat-flat-button (click)="castValues()">Cast</button>
            <div style="font-weight: 590;padding-top: 10px;">Obs1 : {{Obs1}}</div>
    <div style="font-weight: 590;">Obs2 : {{Obs2}}</div>
    <div style="font-weight: 590;">Sub1 : {{Sub1}}</div>
    <div style="font-weight: 590;">Sub2 : {{Sub2}}</div>
        </div>
        
          
    </mat-card-content>
  </mat-card>
</div>